/* Downloaded and adapted from https://checkmyworking.com/cm-web-fonts/ */

@font-face {
	font-family: 'Computer Modern Serif';
    src: url('cmun/cmunrm.woff2') format('woff2'), url('cmun/cmunrm.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Computer Modern Serif';
    src: url('cmun/cmunbx.woff2') format('woff2'), url('cmun/cmunbx.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Computer Modern Serif';
    src: url('cmun/cmunsl.woff2') format('woff2'), url('cmun/cmunsl.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Computer Modern Serif';
    src: url('cmun/cmunbl.woff2') format('woff2'), url('cmun/cmunbl.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
  font-family: "CMU Typewriter";
  src: url("cmun/cmuntt.woff2") format("woff2"), url("cmun/cmuntt.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
