@font-face {
    font-family: 'TWK Lausanne';
    src: url('twk/twk50.woff2') format('woff2'),
         url('twk/twk50.woff') format('woff');
    font-weight: 50;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TWK Lausanne';
    src: url('twk/twk50i.woff2') format('woff2'),
         url('twk/twk50i.woff') format('woff');
    font-weight: 50;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TWK Lausanne';
    src: url('twk/twk100.woff2') format('woff2'),
         url('twk/twk100.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TWK Lausanne';
    src: url('twk/twk100i.woff2') format('woff2'),
         url('twk/twk100i.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TWK Lausanne';
    src: url('twk/twk150.woff2') format('woff2'),
         url('twk/twk150.woff') format('woff');
    font-weight: 150;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TWK Lausanne';
    src: url('twk/twk150i.woff2') format('woff2'),
         url('twk/twk150i.woff') format('woff');
    font-weight: 150;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TWK Lausanne';
    src: url('twk/twk200.woff2') format('woff2'),
         url('twk/twk200.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TWK Lausanne';
    src: url('twk/twk200i.woff2') format('woff2'),
         url('twk/twk200i.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TWK Lausanne';
    src: url('twk/twk250.woff2') format('woff2'),
         url('twk/twk250.woff') format('woff');
    font-weight: 250;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TWK Lausanne';
    src: url('twk/twk250i.woff2') format('woff2'),
         url('twk/twk250i.woff') format('woff');
    font-weight: 250;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TWK Lausanne';
    src: url('twk/twk300.woff2') format('woff2'),
         url('twk/twk300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TWK Lausanne';
    src: url('twk/twk300i.woff2') format('woff2'),
         url('twk/twk300i.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TWK Lausanne';
    src: url('twk/twk350.woff2') format('woff2'),
         url('twk/twk350.woff') format('woff');
    font-weight: 350;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TWK Lausanne';
    src: url('twk/twk350i.woff2') format('woff2'),
         url('twk/twk350i.woff') format('woff');
    font-weight: 350;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TWK Lausanne';
    src: url('twk/twk400.woff2') format('woff2'),
         url('twk/twk400.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TWK Lausanne';
    src: url('twk/twk400i.woff2') format('woff2'),
         url('twk/twk400i.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TWK Lausanne';
    src: url('twk/twk450.woff2') format('woff2'),
         url('twk/twk450.woff') format('woff');
    font-weight: 450;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TWK Lausanne';
    src: url('twk/twk450i.woff2') format('woff2'),
         url('twk/twk450i.woff') format('woff');
    font-weight: 450;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TWK Lausanne';
    src: url('twk/twk500.woff2') format('woff2'),
         url('twk/twk500.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TWK Lausanne';
    src: url('twk/twk500i.woff2') format('woff2'),
         url('twk/twk500i.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TWK Lausanne';
    src: url('twk/twk550.woff2') format('woff2'),
         url('twk/twk550.woff') format('woff');
    font-weight: 550;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TWK Lausanne';
    src: url('twk/twk550i.woff2') format('woff2'),
         url('twk/twk550i.woff') format('woff');
    font-weight: 550;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TWK Lausanne';
    src: url('twk/twk600.woff2') format('woff2'),
         url('twk/twk600.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TWK Lausanne';
    src: url('twk/twk600i.woff2') format('woff2'),
         url('twk/twk600i.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TWK Lausanne';
    src: url('twk/twk650.woff2') format('woff2'),
         url('twk/twk650.woff') format('woff');
    font-weight: 650;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TWK Lausanne';
    src: url('twk/twk650i.woff2') format('woff2'),
         url('twk/twk650i.woff') format('woff');
    font-weight: 650;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TWK Lausanne';
    src: url('twk/twk700.woff2') format('woff2'),
         url('twk/twk700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TWK Lausanne';
    src: url('twk/twk700i.woff2') format('woff2'),
         url('twk/twk700i.woff') format('woff');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TWK Lausanne';
    src: url('twk/twk750.woff2') format('woff2'),
         url('twk/twk750.woff') format('woff');
    font-weight: 750;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TWK Lausanne';
    src: url('twk/twk750i.woff2') format('woff2'),
         url('twk/twk750i.woff') format('woff');
    font-weight: 750;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TWK Lausanne';
    src: url('twk/twk800.woff2') format('woff2'),
         url('twk/twk800.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TWK Lausanne';
    src: url('twk/twk800i.woff2') format('woff2'),
         url('twk/twk800i.woff') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TWK Lausanne';
    src: url('twk/twk850.woff2') format('woff2'),
         url('twk/twk850.woff') format('woff');
    font-weight: 850;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TWK Lausanne';
    src: url('twk/twk850i.woff2') format('woff2'),
         url('twk/twk850i.woff') format('woff');
    font-weight: 850;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TWK Lausanne';
    src: url('twk/twk900.woff2') format('woff2'),
         url('twk/twk900.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TWK Lausanne';
    src: url('twk/twk900i.woff2') format('woff2'),
         url('twk/twk900i.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TWK Lausanne';
    src: url('twk/twk950.woff2') format('woff2'),
         url('twk/twk950.woff') format('woff');
    font-weight: 950;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TWK Lausanne';
    src: url('twk/twk950i.woff2') format('woff2'),
         url('twk/twk950i.woff') format('woff');
    font-weight: 950;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TWK Lausanne';
    src: url('twk/twk1000.woff2') format('woff2'),
         url('twk/twk1000.woff') format('woff');
    font-weight: 1000;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TWK Lausanne';
    src: url('twk/twk1000i.woff2') format('woff2'),
         url('twk/twk1000i.woff') format('woff');
    font-weight: 1000;
    font-style: italic;
    font-display: swap;
}
